h1{
    color: red;
    text-align: center;
}

h2{
    text-align: center;
}

.new-input{
    text-align: center;
    margin-top: 50px;
}

.user-input{
    width: 30%;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
}

.add-button{
    background-image: url('images/add-button.png');
    background-size: cover;
    background-color: transparent;
    width: 25px;
    height: 25px;
    vertical-align: top;
    border-radius: 100%;
    border-color: transparent;
}

.tasks{
    margin: 100px 15%;
    border: 2pt solid black;
}

li{
    margin-top: 10px;
    width: 90%;
    text-align: justify;
    overflow-wrap: break-word;
}

.remove-button{
    background-image: url(https://fonts.gstatic.com/s/i/short-term/release/googlesymbols/delete/default/20px.svg);
}

.edit-button{
    background-image: url(images/pen.png);
}

.check-button{
    background-image: url(images/check.png);
}

.clear-list{
    background-image: url(https://icons.iconarchive.com/icons/custom-icon-design/mono-general-4/512/trash-icon.png);
    background-size: cover;
    background-color: transparent;
    width: 25px;
    height: 25px;
    vertical-align: top;
    border-radius: 100%;
    border-color: transparent;
}